*{
    margin: 0;
    padding: 0;
}
.search-wrap{
    background-color: #ddd;
    padding: 80px 0px;
}
.inner{
    max-width: 1200px;
    margin: 0 auto;
}
.search-title{
    text-align: center;
    color: #111;
    font-size: 40px;
    letter-spacing: -2px;
    padding-bottom: 30px;
}
.search-box{
    text-align: center;
}
#search{
    padding: 10px 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
    outline: none;
    width: 250px;
}
input::placeholder{
    padding-left: 2px;
}
.search-btn{
    padding: 9px 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}
.search-btn:hover{
    background-color: #111;
    color: #fff;
}
section{
    background-color: #777;
}
.container{
    background: #111;
    padding: 60px 0px;
}
.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
}
.card-list li{
   background-color: white;
   padding: 10px;
}
.card-img{
    width: 100%;
    height: auto;
    background: #eee;
}
.card-title{
    margin: 10px 0px;
}
.card-overview{
    line-height: 21px;
    font-size: 15px;
    letter-spacing: -.5px;
}
.card-average{
    font-weight: bold;
    padding: 15px 0px;
}
